# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env
# Ignore all __pycache__ folders
__pycache__/

# Ignore __pycache__ folders in any subdirectory
**/__pycache__/

/backend/env
/backend/app.yaml
/backend/.dockerignore
/backend/Dockerfile
/backend/.gcloudignore
/backend/mycode/movie_sim.pkl
/backend/mycode/show_sim.pkl